{% extends 'base.html' %}
{% block title %}Find Advise!!!{% endblock %}

{% block body %}
<h1>Create a Post</h1>

<h2>Choose room</h2>

<form>
    <select name="choose room">
        {% for room in rooms %}
            <option value="{{ room.room_id }}">
                {{ room.room_name }}
            </option>
        {% endfor %}
    </select>
</form> 

<h2>Include tags</h2>
<form action="/add" method="post">
    <input id="tag" name="tag" type="text" placeholder="Tag Name">
<input id="Add Tag" type="submit">
</form>

<h2>Preview Image</h2>

<input type="file"
       id="image" name="image"
       accept="image/jpeg">
<h3> OR </h3>      

<form action="/add" method="post">
    <input id="url" name="image" type="text" placeholder="Image Url">
<input id="Add Image" type="submit">
</form>


<form>
    <label>Add Title:</label>
    <textarea name="title"></textarea>
  </form>
  <form>
    <label>About:</label>
    <textarea name="about"></textarea>
  </form>
  <form>
    <label>Add a link:</label>
    <textarea name="link"></textarea>
  </form>

{% endblock %}




       