{% extends 'base.html' %}
{% block title %}Home Orginizer{% endblock %}

{% block body %}
<h1>Header</h1>

<h2>Find out how to orginize every room in your home - plus, get great tips from Users</h2>
    {% if "username" not in session %}
    <p class="intro"><a href="/login">Sign In or Register</a> 
    {% endif %}
    <ul>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/rooms">View all rooms</a></li>
        <li><a href="/posts">View all posts</a></li>
        <li><a href="/create_post">Post Form</a></li>
    </ul> 

{% endblock %}